.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-link {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: #02386a;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 8px;
}
span {
  color: #adadad;
  font-size: 12px;
  font-weight: bold;
  margin-left: 2%;
  margin-bottom: 8px;
}
@media (max-width: 1035px) {
  .footer {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  span {
    margin: 0;
  }
}
@media (max-width: 875px) {
  .footer {
    align-items: center;
    padding: 0;
  }

  .footer-link {
    justify-content: center;
    width: 45%;
    min-width: 350px;
  }
}
